{% extends "registration/base-registration.html" %}

{% block content %}
<div>

<h1>Login to your Hearthstone Arena Stats account.</h1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="pure-form pure-form-aligned" method="post" action="{% url 'django.contrib.auth.views.login' %}">
  <fieldset>
    <div class="pure-control-group">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>

    <div class="pure-control-group">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>

    <div class="pure-controls">
      <button class="pure-button pure-button-primary" type="submit">Login</button>
    </div>

    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
  </fieldset>
</form>

{% endblock %}
