{% extends "base.html" %}

{% block header-links %}
  {{ block.super }}
  <link rel="stylesheet" href="/static/style/sidebar.css" />
  <link rel="stylesheet" href="/static/style/sidebar.css" />
{% endblock %}

{% block body %}
<div id="layout">

{% block menu %}
<!-- Menu toggle -->
<a href="#menu" id="menuLink" class="menu-link">
  <!-- Hamburger icon -->
  <span></span>
</a>
<div id="menu">
  <div class="pure-menu pure-menu-open">
    <a  href="/account/home">
      {% block menu-title %}Arena Stats{% endblock %}
    </a>
    <ul>
      {% block menu-links %}
      <li>
        <img src="/static/image/blue-bullet.png" />
        <a href="#">Track a new draft</a>
      </li>
      <li><a href="#">Ongoing draft</a></li>
      <li class="menu-item-divided"><a href="#">Stats Overview</a></li>
      <li><a href="#">Past draft details</a></li>
      <li class="menu-item-divided"><a href="{% url 'account:profile' %}">Profile</a></li>
      <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% endblock %}
    </ul>
  </div>
</div>
{% endblock %}

{% block main %}
<div id="main">
  {% block page-header %}
  <div class="header">
    <h1>{% block page-title %}Page Title{% endblock %}</h1>
    <h2>{% block page-subtitle %}A subtitle for your page goes here{% endblock %}</h2>
  </div>
  {% endblock %}


  <div class="content">
  {% block content %}
    <h2 class="content-subhead">This is a content sub-heading</h2>
    <p>
      This is the first body paragraph.
    </p>
  {% endblock %}
  </div>

</div>
{% endblock %}

</div>
<script language="javascript" type="text/javascript" src="/static/js/sidebar.js"></script>
{% endblock %}
