{% extends "base.html" %}

{% block header-links %}
  {{ block.super }}
  <link rel="stylesheet" href="/static/style/topbar.css" />
{% endblock %}

{% block body %}

{% block menu %}
<div id="menu">
  <div class="pure-menu pure-menu-open pure-menu-horizontal cust-item-right">
    <a class="pure-menu-heading" href="#">
      {% block menu-title %}Hearthstone Arena Stats{% endblock %}
    </a>
    <ul>
      {% block menu-links %}
      <li><a href="#">About</a></li>

      {% if user.is_authenticated %}
      <li><a href="{% url 'account:home' %}">Account Page</a></li>
      <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}

      {% endblock %}
    </ul>
  </div>
</div>
{% endblock %}

{% block main %}

{% block content %}
{% endblock %}

{% endblock %}

{% endblock %}
